
@font-face {
    font-family: Buenosaires;
    src: url(fonter/Buenos-Aires-Light.otf);
}

body {
    margin: 0px;
    color: #262639;
    font-size: smaller;
    background-color: #fdfdfd;
}
/* utseende länkar */
a:link {
    color: #262639;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
    color: #262639;
}

.bootstraplink:link {
    text-decoration: none;
}

.bootstraplink:hover {
    text-decoration: none;
}

.footerlink:link {
    color: white;
    text-decoration: none;
}

.footerlink:hover {
    text-decoration: underline;
    color: white;
}

.footerlink:visited {
    color: white;
}

/*länkar slut*/

/*justeringar för text*/
h2 {
    text-align: center;
}

/* Knappar justeringar*/

.kundvagn {
    background-color: white;
    border-radius: 75px;
    padding: 5px;
    border: solid 1px #c6c6c6;
}

.rodknapp {
    background-color: #ff6666;
    color: white;
    border-radius: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: hidden;
}

.loginknapp { /*återanvänt kod, ädrat padding*/
    background-color: #ff6666;
    color: white;
    border-radius: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: hidden;
    margin-left: 15px;
}

/* font awesome justeringar */
.fa-gift{
    color: #8e7868;
}

.fa-cart-shopping {
    display: inline;
    margin: 5px;
}

.fa-chevron-left {
    display: inline;
    margin: 5px;
}

.dealicon {
    margin-right: 15px;
}

/* här börjar header*/
header {
    background-color: #262639;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

#mathem-logo {
    height: 35px;
    padding-right: 40px;
}

#headerleft {
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*slut header*/


/*navigering börjar här */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px lightgray;
    height: 45px;
}

#huvudmeny {
    display: flex;
    list-style: none;
    align-items: center;
}


.menyval {
    padding-right: 20px;
    padding-top: 13px;
    align-items: center;
}

#navright {
    padding-right: 25px;
}

#navleft {
    align-items: center;
}
/* slut navigering */


/*här börjar main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nykund150 {
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    width: 90%;

}

/*fixa icon i lealrutan!!*/

#mainsection {
    display: flex;
    margin-bottom: 50px;
    width: 90%;
}

.flexright {
    width: 700px;
    border-radius: 20px;
}

.flexleft {
    padding: 30px;
}

#mainsection2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-bottom: 50px;
}

.textcontainer{
    align-items: center;
}

#flex-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.card-body {
    height: 150px;
}

.flexitem {
    margin: 20px;
    padding: 0;
}


/*slut main*/

footer {
    background-color: #262639;
    color: white;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 200px;
}

#footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menyfooter {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section2footer {
    display: flex;
    flex-direction: column;
}

.footericon {
    width: 100px;
    display: inline;
    padding-bottom: 10px;
}

.menyvalfooter {
    color: white;
}
